@model InsuranceEngine.DTO.Questionnaire.PageDTO
@using InsuranceEngine.DTO.Utility.Enums.AdminUIEnums
@{
    ViewBag.Title = "DeletePage";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenuNoTreeView.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DisplayOrder)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.NextPageID)
    @Html.HiddenFor(model => model.PageID)
    @Html.HiddenFor(model => model.PageTemplateID)
    @Html.HiddenFor(model => model.SchemeID)
    @Html.HiddenFor(model => model.Title)
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Delete Page - @Model.Name</h3>
        </div>
        <div class="panel-body">
            <p>Are you sure you want to delete this page? Any answers for this page will also be deleted.</p>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Yes" class="btn btn-danger" />
                    </div>
                    <div class="col-sm-1">
                        @Html.ActionLink("No", "Scheme", "Schemes", new { selectedTab = SchemePageTabs.Pages }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Page Details - @Model.Name</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    <span class="form-label">@Model.Name</span>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    <span class="form-label">@Model.Title</span>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    <span class="form-label">@Model.DisplayOrder</span>
                </div>
            </div>
        </div>
    </div>
</div>

