@model InsuranceEngine.Web.Areas.Admin.Models.PageVM
@using InsuranceEngine.DTO.Utility.Enums.AdminUIEnums
@{
    ViewBag.Title = "ViewPage";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenu.cshtml";
}
<ul class="nav nav-pills">
    <li @Html.Raw(Model.SelectedTab == PageTabs.PageDetails ? @"class=""active""" : string.Empty)><a href="#pageDetails" data-toggle="tab">Page Details <span class="badge"></span></a></li>
    <li @Html.Raw(Model.SelectedTab == PageTabs.PageQuestions ? @"class=""active""" : string.Empty)><a href="#pageQuestions" data-toggle="tab">Pages Questions<span class="badge">@Model.Stats.PageQuestionsCount</span></a></li>    
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade @(Model.SelectedTab == PageTabs.PageDetails ? "active in" : string.Empty)" id="pageDetails">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Page Details - @Model.Page.Name</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        @Html.LabelFor(model => model.Page.Name, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-6">
                            <span class="form-label">@Model.Page.Name</span>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.Page.Title, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-6">
                            <span class="form-label">@Model.Page.Title</span>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.Page.DisplayOrder, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-6">
                            <span class="form-label">@Model.Page.DisplayOrder</span>
                        </div>
                    </div>

                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            &nbsp;
                        </div>
                        <div class="col-sm-1">
                            @Html.ActionLink("Edit Page", "EditPage", new { pageId = @Model.Page.PageID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade @(Model.SelectedTab == PageTabs.PageQuestions ? "active in" : string.Empty)" id="pageQuestions">
        @{Html.RenderAction("ListPageQuestionsByPage", "Pages", new { schemeId = @Model.SchemeID, pageId = @Model.PageID });}
        <br />
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    &nbsp;
                </div>
                <div class="col-sm-1">
                    @Html.ActionLink("Add Page Question", "AddPageQuestion", "Pages", new { schemeId = @Model.SchemeID, pageId = @Model.PageID }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>

