@model InsuranceEngine.DTO.Questionnaire.QuestionTemplateDTO

@{
    ViewBag.Title = "AddQuestionTemplate";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenu.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.QuestionTemplateID)
    @Html.HiddenFor(model => model.LastRenderDate)

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Question Template</h3>
        </div>
        <div class="panel-body">

            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <strong>Please correct the following</strong>;
                    @Html.ValidationSummary()
                </div>
            }

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.QuestionTypeID, new { @class = "control-label col-sm-4 required" })
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.QuestionTypeID, ViewBag.QuestionTypes as IEnumerable<SelectListItem>, "select one", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.QuestionTypeID)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-4 required" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        @Html.LabelFor(model => model.Template, new { @class = "control-label required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="editor" style="margin-top: 0px; width: 100%; height: 600px; margin-left: 0px;">@Model.Template</div>
                        @Html.HiddenFor(model => model.Template)
                        @Html.ValidationMessageFor(model => model.Template)                    
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-sm-1">
                        @Html.ActionLink("Cancel", "ListQuestionTemplates", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" language="javascript">
        var editor;

        $(document).ready(function () {

            editor = ace.edit("editor")
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/html");

            $("form").submit(function () {
                var hdnContent = $("#Template");
                hdnContent.val(editor.getValue());
            });

        });


    </script>
}